<section class="container-fluid" id="footer">
  <div class="container d-flex flex-column flex-lg-row align-items-center justify-content-between mb-4">
    <div class="logo-site d-block d-lg-none">
      <img class="logo-img" src="assets/images/Logo.png" alt="Logo Site">
    </div>
    <div class="copyrights-container">
      <p class="m-0">© {{ currentYear }} Todos los derechos reservados</p>
    </div>
    <div class="logo-site d-none d-lg-block">
      <img class="logo-img" src="assets/images/Logo.png" alt="Logo Site">
    </div>
    <div class="site-name-container">
      <p class="m-0">Mariachi Cristiano Cánticos al Rey</p>
    </div>
  </div>
</section>
