<nav class="navbar navbar-expand-lg bg-navbar">
  <div class="container my-lg-1 my-0">
    <a class="navbar-brand" [routerLink]="['/']">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <i class="bi bi-list-nested text-white fs-2"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarText">
      <ul class="navbar-nav align-items-center">
        <li class="nav-item">
          <a class="nav-link active d-flex flex-row gap-2 align-items-center justify-content-center" aria-current="page" href="tel:951-161-7127">
            <img class="img-icon" src="assets/images/icons/solid_phone.svg" alt="Phone icon">
            <span class="separated-text">951-161-7127</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex flex-row gap-2 align-items-center justify-content-center" aria-current="page" href="" target="_blank">
            <img class="img-icon" src="assets/images/icons/solid_whatsapp.svg" alt="Phone icon">
            <span class="separated-text small-text">Atención por Whatsapp</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.facebook.com/profile.php?id=100032453152247" target="_blank">
            <img class="img-icon" src="assets/images/icons/solid_facebook.svg" alt="Phone icon">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
