@import url(./../../../styles.scss);

.sidebar {
  position: fixed;
  top: 35%;
  right: 0;
  z-index: 90;
}

.navbar-nav {
  .nav-item {
    margin-right: 2.5em;
    .navlink {
      color: var(--white-color);
      font-family: var(--font-lora);
      font-size: 18px;
      letter-spacing: 1px;
      text-align: end;
      text-decoration: none;
      text-transform: uppercase;
      transition: .2s ease all;
    }
    .navlink:hover {
      color: var(--gold-color);
      padding-right: 1em;
    }

    .active{
      color: var(--gold-color);
      /* font-family: var(--font-lora-bold); */
    }
    .navlink.active::after {
      content: '';
      background: var(--gold-color);
      height: 2px;
      width: 15px;
      position: absolute;
      right: 20px;
      margin-top: 12px;
      transition: .2s ease all;
      border-radius: 100px;
    }
    .navlink.active:hover::after {
      width: 25px;
    }
  }
}

