<div class="sidebar">
  <div>
    <nav>
      <ul class="navbar-nav d-flex align-items-end gap-3">
        <li class="nav-item">
          <a class="navlink" href="#hero-banner" [class.active]="activeSection === 'hero-banner'">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="navlink" href="#about-us" [class.active]="activeSection === 'about-us'"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="navlink" href="#services" [class.active]="activeSection === 'services'"
          [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="navlink" href="#gallery" [class.active]="activeSection === 'gallery'"
          [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Galería</a>
        </li>
        <li class="nav-item">
          <a class="navlink" href="#contact" [class.active]="activeSection === 'contact'"
          [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Contacto</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
