/* <--- Fonts ---> */
/* Lato Font */
@font-face {
  font-family: Lato;
  src: url(assets/Fonts/Lato/Lato-Regular.woff);
}
@font-face {
  font-family: Lato-semibold;
  src: url(assets/Fonts/Lato/Lato-Bold.woff);
}
@font-face {
  font-family: Lato-bold;
  src: url(assets/Fonts/Lato/Lato-Black.woff);
}
/* Lora Font */
@font-face {
  font-family: Lora;
  src: url(assets/Fonts/Lora/Lora-Regular.woff);
}
@font-face {
  font-family: Lora-semibold;
  src: url(assets/Fonts/Lora/Lora-SemiBold.woff);
}
@font-face {
  font-family: Lora-bold;
  src: url(assets/Fonts/Lora/Lora-Bold.woff);
}
/* Pompiere Font */
@font-face {
  font-family: Hijrnotes;
  src: url(assets/Fonts/Hijrnotes/Hijrnotes_PERSONAL_USE_ONLY.woff);
}

:root {
  /* fonts */
  --font-lato-regular: Lato;
  --font-lato-semibold: Lato-semibold;
  --font-lato-bold: Lato-bold;
  --font-lora: Lora;
  --font-lora-semibold: Lora-semibold;
  --font-lora-bold: Lora-bold;
  --font-hijrnotes: Hijrnotes;

  /* Colors */
  --soft-gray-color: #efefef;
  --color-white: #fff;
  --color-gray-100: rgba(6, 6, 6, 0.5);
  --gold-color: #c9a57b;
  --color-sienna-100: #967347;
  --color-dimgray: #656565;
  --color-silver: #b6b6b6;
  --soft-black: #2e2e2e;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-23xl: 42px;
  --font-size-6xl: 25px;
  --font-size-xl: 20px;
  --font-size-11xl: 30px;
  --font-size-3xl: 22px;
  --font-size-5xl: 24px;
  --font-size-mid: 17px;
  --font-size-9xl: 28px;
  --font-size-26xl: 45px;
  --font-size-17xl: 36px;
  --font-size-8xl: 27px;
}

body {
  background: black;
  box-sizing: border-box;
  padding: 0; margin: 0;
  color: var(--soft-gray-color);
  transition: .2s ease all ;
  overflow-x: hidden;
}

.btn-primary {
  background: var(--gold-color);
  color: var(--color-white);
}
